



--------------------------------
<h1><%=@product[:titile]%></h1>
<p><%=@product[:price]%></p>
<p><%=@product[:discount]%></p>
<p><%=@product[:emi_starts_from]%></p>
<p>actual price : <%=@product[:actual_price]%></p>
<%=%>
<div><%=image_tag(@product[:image])%></div>

------------------------------------
