<div class="container-fluid">
  <div class="content-wrapper"> 
    <div class="item-container">  
      <div class="container"> 
        <div class="col-md-14">
          <div class="product col-md-3 service-image-left">  
              <%=image_tag(@product[:image],:class=>'img-rounded',:height=>300)%>
          </div>


        <div class="container service1-items col-sm-2 col-md-2 pull-left">
          <div class="product-title"><h2><%=@product[:titile]%></h2></div>
          <div class="product-desc"><%=@product[:sub_titile]%></div>
          <div class="product-rating"><i class="fa fa-star gold"></i> 
          <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> 
          <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> 
          </div>
          <hr>
          <div class="product-price">Price : <%=@product[:price]%></div>
          <div class="text-muted">Actual <strike>Price<%=@product[:actual_price]%></strike></div>
          <div class="text-info">Discount : <%=@product[:discount]%></div>
          <div class="text-success">Emi : <%=@product[:emi_starts_from]%></div>
          </div>
        </div>
    <div class="container-fluid">   
      <div class="col-md-12 product-info">
          <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">Features</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
              <section class="container product-info">
              <ul>
              <%=@product[:key_specifications].each do |k_s|%>

                <li><%=k_s%></li>

              <%end%>
              </ul>
              </section>
                      
            </div>
          <div class="tab-pane fade" id="service-two">
            
            <section class="container">
                
            </section>
            
          </div>
          <div class="tab-pane fade" id="service-three">
                        
          </div>
        </div>
        <hr>
      </div>
    </div>
</div>


